
    .attribution { 
        font-size: 12px; text-align: center;
        position: absolute; bottom:0px;left:100px;
    }
    .attribution a { color: hsl(228, 45%, 44%); }
    
    body{
        width: 1440px;
        background-color: hsl(185, 41%, 84%);
        font-family: monospace;
    }
    .whitearea{
        background-color: hsl(0, 0%, 100%);
        width: 700px;
        height: 350px;
        position: relative; top: 200px;left: 400px;
        border-radius: 5%;
        padding: 20px;
    } 
    .formarea{
        float:left;
    }
    .darkarea{
        float: right;
        background-color: hsl(183, 100%, 15%);
        width: 350px;
        height: 340px;
        border-radius: 13px;
    }

    .Bill{
        padding-left: 20px;
        background-color: hsl(189, 41%, 97%);
        width: 280px;
        height: 35px;
        border-radius: 5%;
        border: none;
        background: url(images/icon-dollar.svg)no-repeat;
        background-size: 15px;
    }
    .number{
        padding: 5px;
        background-color: hsl(189, 41%, 97%);
        width: 280px;
        height: 35px;
        border-radius: 5%;
        border: none;
        background: url(images/icon-person.svg)no-repeat;
        background-size: 15px;
    }

    .Bill:hover{
        border: 2px solid hsl(172, 67%, 45%);
    }
    .Bill:active{
        border:2px solid hsl(172, 67%, 45%);
    }

    .number:hover{
        border: 2px solid hsl(172, 67%, 45%);
    }
    .number:active{
        border:2px solid hsl(172, 67%, 45%);
    }

    input:focus{
        outline: hsl(172, 67%, 45%);
    }

    label{
        color:hsl(186, 14%, 43%);
    }

    .forsubmit{
        display: grid;
        grid-template-columns: 85px 85px 85px;
        grid-template-rows: 35px 35px;
        grid-gap: 20px;
        font-size: 24px;
       /* border-radius:;*/
    }

    .for5{
        border-radius: 10%;
        border:none;
        /*font-size: 24px;*/
        background-color: hsl(183, 100%, 15%);
        color: white;
        font-size: 16px;
        font-weight: 600;
    }
    .forcustom{
        border-radius: 10%;
        font-size: 18px;
        font-weight: 500;
        border: none;
        color:hsl(186, 14%, 43%);
    }

    .fornumber{
        position: absolute; bottom: 50px;left: 22px;
    }
    .selectip{
        color: hsl(186, 14%, 43%);
    }
    /*.for10{border-radius: 10%;}
    .for15{border-radius: 10%;}
    .for25{border-radius: 10%;}
    .for50{border-radius: 10%;}*/
    section{
        color: white;
    }
    section.tiparea{
        position: relative;top: 30px; left: 20px;
        font-size: 15px;
    }
    section.totalarea{
        position: relative;top: 60px; left: 20px;
        font-size: 15px;
    }
    .reset{
        position: relative;top: 10px;left: 50px;
        width: 250px;height: 40px;
        background-color: hsl(172, 67%, 45%);/*this will have to be checked 
        and improved for the different states*/
        border:none;
        border-radius: 5%;
    }
    span{
        font-size: 10px;
        font-weight: 400;
    }
    section.tip{
        float: right;
        color:hsl(172, 67%, 45%);
        position: relative;bottom:120px;right:60px;
        font-size: 40px;
        border: none;
        margin:0px;
        padding:0px;
        font-weight: 600;
    }

    section.total{
        float: right;
        color:hsl(172, 67%, 45%);
        position: absolute;bottom:165px;right:82px;
        font-size: 40px;
        border: none;
        margin:0px;
        padding:0px;
        font-weight: 600;
    }

    section{
        font-weight:600 ;
    }